# Import everything...

Import the necessary libraries.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

Import the data.

In [24]:
df_property_sale = DataFrame.to_sql('~/ds/projects/housing_prices_project/data/raw/EXTR_RPSale.csv')

NameError: name 'DataFrame' is not defined

In [5]:
df_res_bldg = pd.read_csv('~/ds/projects/housing_prices_project/data/raw/EXTR_ResBldg.csv')

/Users/karenwarmbein/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_parcel = pd.read_csv('~/ds/projects/housing_prices_project/data/raw/EXTR_Parcel.csv', encoding='latin1')

# Observe data

## EXTR_RPSale

In [6]:
df_property_sale.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,1923256,403720,880,11/09/2002,0,20021122000102,,,,,...,3,6,15,N,N,N,N,14,8,31 51 52
1,1443998,937230,60,08/17/1995,110000,199508230865,043,021,937230,P,...,3,6,2,N,N,N,N,0,8,
2,2737898,228520,320,06/17/2015,288700,20150619001358,,,,,...,3,2,3,N,N,N,N,1,3,
3,2501378,148930,126,07/15/2011,0,20110720000809,,,,,...,3,6,15,N,N,N,N,5,8,18 31 51
4,2838251,73150,180,11/22/2016,425000,20161207002286,,,,,...,11,6,3,,,,,1,8,

In [7]:
df_property_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057992 entries, 0 to 2057991
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(7), object(17)
memory usage: 376.8+ MB

In [9]:
df_property_sale_type = df_property_sale[df_property_sale['PropertyType'] == 1]
df_property_sale_type.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
11,2368434,10800,126,09/04/2008,0,20081023001081,,,,,...,1,6,15,N,N,N,N,18,7,11 18 31
19,1462040,152604,9016,11/27/1995,0,199512210302,000,000,000000,,...,1,0,15,N,N,N,N,18,0,32
22,3016479,218000,1394,10/21/2019,0,20191022000409,,,,,...,1,6,15,N,N,N,N,19,7,16 18 31
26,801515,82309,9028,11/21/1984,46000,198411270205,000,000,000000,,...,1,0,2,N,N,N,,1,7,
53,1684184,563150,677,05/10/1999,57000,199905111806,902,185,563150,U,...,1,6,2,N,N,N,N,1,7,

## EXTR_ResBldg

In [10]:
df_res_bldg.head()

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,180,10,1,1,1525 S SNOQUALMIE ST 98108,1525,,S,SNOQUALMIE,ST,...,0,0,0,1915,2007,0,0,0,3,8000
1,180,143,1,1,1518 S ANGELINE ST 98108,1518,,S,ANGELINE,ST,...,0,0,0,1988,0,0,0,0,3,0
2,180,154,1,1,1711 S COLUMBIAN WAY 98108,1711,,S,COLUMBIAN,WAY,...,0,0,0,1958,0,0,0,0,3,0
3,280,17,1,1,13955 56TH PL S 98168,13955,,,56TH,PL,...,0,0,0,1943,1990,0,0,0,3,0
4,280,25,1,1,13925 56TH PL S 98168,13925,,,56TH,PL,...,0,0,0,1930,0,0,0,0,5,0

In [69]:
df_res_bldg

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,180,10,1,1,1525 S SNOQUALMIE ST 98108,1525,,S,SNOQUALMIE,ST,...,0,0,0,1915,2007,0,0,0,3,8000
1,180,143,1,1,1518 S ANGELINE ST 98108,1518,,S,ANGELINE,ST,...,0,0,0,1988,0,0,0,0,3,0
2,180,154,1,1,1711 S COLUMBIAN WAY 98108,1711,,S,COLUMBIAN,WAY,...,0,0,0,1958,0,0,0,0,3,0
3,280,17,1,1,13955 56TH PL S 98168,13955,,,56TH,PL,...,0,0,0,1943,1990,0,0,0,3,0
4,280,25,1,1,13925 56TH PL S 98168,13925,,,56TH,PL,...,0,0,0,1930,0,0,0,0,5,0
5,300,7,1,1,13620 52ND AVE S 98168,13620,,,52ND,AVE,...,0,0,0,1925,0,0,0,0,3,0
6,360,23,1,1,2803 30TH AVE S 98144,2803,,,30TH,AVE,...,1,0,0,1915,0,0,0,0,3,0
7,360,72,1,1,2531 30TH AVE S 98144,2531,,,30TH,AVE,...,1,0,0,1951,0,0,0,0,5,10000
8,640,1,1,1,45625 212TH AVE SE 98022,45625,,,212TH,AVE,...,0,0,0,1938,0,0,0,0,4,0
9,680,26,1,1,27039 78TH AVE S 98032,27039,,,78TH,AVE,...,0,0,0,1933,0,0,0,0,3,0
10,720,16,1,1,81 LOGAN AVE S 98055,81,,,LOGAN,AVE,...,0,0,0,1922,0,0,0,0,3,0
11,720,118,1,1,87 WILLIAMS AVE S 98055,87,,,WILLIAMS,AVE,...,0,0,0,1936,0,0,0,0,3,0
12,720,162,1,1,115 WELLS AVE S 98055,115,,,WELLS,AVE,...,0,0,0,1925,0,0,0,0,3,0
13,740,38,1,1,3418 S THISTLE ST 98118,3418,,S,THISTLE,ST,...,0,0,0,2004,0,0,0,0,3,0
14,740,115,1,1,8611 BEACON AVE S 98118,8611,,,BEACON,AVE,...,0,0,0,1916,0,0,0,0,3,0
15,760,15,1,1,211 24TH AVE 98122,211,,,24TH,AVE,...,0,0,0,1900,0,0,0,0,3,0
16,760,189,1,1,189 26TH AVE 98122,189,,,26TH,AVE,...,0,0,0,1912,0,0,0,0,3,0
17,900,190,1,1,7006 23RD AVE NE 98115,7006,,,23RD,AVE,...,0,0,0,1984,0,0,0,0,3,0
18,1000,80,1,1,4154 48TH AVE SW 98116,4154,,,48TH,AVE,...,1,0,1,1971,0,0,0,0,4,0
19,1100,65,1,1,506 AABY DR 98001,506,,,AABY,DR,...,0,0,0,1977,0,0,0,0,4,0
20,1120,120,1,1,15092 NE 8TH PL 98007,15092,,NE,8TH,PL,...,0,0,0,1998,0,0,0,0,3,0
21,1130,80,1,1,10046 NE 142ND PL 98034,10046,,NE,142ND,PL,...,0,0,0,2002,0,0,0,0,3,0
22,1130,180,1,1,10045 NE 142ND PL 98034,10045,,NE,142ND,PL,...,0,1,0,2003,0,0,0,0,3,0
23,1150,150,1,1,10620 180TH CT NE 98052,10620,,,180TH,CT,...,1,0,0,1991,0,0,0,0,3,0
24,798540,261,4,1,2700 SW HOLDEN ST 98106,2700,,SW,HOLDEN,ST,...,0,0,0,2018,0,76,0,0,3,0
25,798540,261,5,1,2700 SW HOLDEN ST 98106,2700,,SW,HOLDEN,ST,...,0,0,0,2018,0,76,0,0,3,0
26,798540,261,2,1,2700 SW HOLDEN ST 98106,2700,,SW,HOLDEN,ST,...,0,0,0,2018,0,76,0,0,3,0
27,798540,261,1,1,2700 SW HOLDEN ST 98106,2700,,SW,HOLDEN,ST,...,0,0,0,2018,0,76,0,0,3,0
28,798540,261,3,1,2700 SW HOLDEN ST 98106,2700,,SW,HOLDEN,ST,...,0,0,0,2018,0,76,0,0,3,0
29,798540,261,6,1,2700 SW HOLDEN ST 98106,2700,,SW,HOLDEN,ST,...,0,0,0,2018,0,76,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514548,78600,200,1,1,13522 SW 170TH ST 98070,13522,,SW,170TH,ST,...,0,0,0,1926,0,0,0,0,4,0
514549,78900,115,1,1,9237 EVANSTON AVE N 98103,9237,,,EVANSTON,AVE,...,0,0,0,1928,0,0,0,0,3,0
514550,78900,195,1,1,510 N 90TH ST 98103,510,,N,90TH,ST,...,0,0,0,1939,0,0,0,0,3,0
514551,78900,240,1,2,9053 EVANSTON AVE N 98103,9053,,,EVANSTON,AVE,...,0,1,0,1912,0,0,0,0,4,0
514552,79200,8,1,1,2303 S 124TH ST 98168,2303,,S,124TH,ST,...,0,1,0,1968,0,0,0,0,3,0
514553,79320,80,1,1,1405 153RD PL SE 98007,1405,,,153RD,PL,...,1,0,1,1967,0,0,0,0,3,0
514554,79320,180,1,1,1456 153RD PL SE 98007,1456,,,153RD,PL,...,0,0,0,1961,0,0,0,0,4,0
514555,79500,310,1,1,115 S 108TH PL 98168,115,,S,108TH,PL,...,0,0,0,1955,0,0,0,0,2,0
514556,79500,315,1,1,11000 OCCIDENTAL AVE S 98168,11000,,,OCCIDENTAL,AVE,...,0,0,0,1956,0,0,0,0,5,0
514557,79500,495,1,1,10812 2ND AVE S 98168,10812,,,2ND,AVE,...,0,0,0,1948,0,0,0,0,3,0
514558,79500,735,1,1,10832 3RD AVE S 98168,10832,,,3RD,AVE,...,0,0,0,1948,0,0,0,0,3,0
514559,79500,860,1,1,11041 4TH AVE S 98168,11041,,,4TH,AVE,...,0,0,0,1946,0,0,0,0,2,0
514560,79500,900,1,1,11001 4TH AVE S 98168,11001,,,4TH,AVE,...,0,0,0,1952,0,0,0,0,2,0
514561,79500,945,1,1,10830 4TH AVE S 98168,10830,,,4TH,AVE,...,0,0,0,1929,0,0,0,0,3,0
514562,79500,1290,1,1,10851 6TH AVE S 98168,10851,,,6TH,AVE,...,0,0,0,1949,0,0,0,0,3,0
514563,79500,1776,1,2,140 S 108TH ST 98168,140,,S,108TH,ST,...,0,0,0,1950,0,0,0,0,4,0
514564,79500,1880,1,1,10611 MYERS WAY S 98168,10611,,,MYERS,WAY,...,0,1,0,1949,0,0,0,0,3,0
514565,79500,2235,1,1,10443 OCCIDENTAL AVE S 98168,10443,,,OCCIDENTAL,AVE,...,0,1,0,1949,0,0,0,0,4,0
514566,79500,2505,1,1,10458 3RD AVE S 98168,10458,,,3RD,AVE,...,0,0,0,1942,0,0,0,0,2,0
514567,79500,2630,1,2,10704 6TH AVE S 98168,10704,,,6TH,AVE,...,1,0,1,1951,0,0,0,0,3,0
514568,79500,2645,1,2,10722 6TH AVE S 98168,10722,,,6TH,AVE,...,1,0,1,1951,0,0,0,0,3,0
514569,79600,405,1,1,11845 OCCIDENTAL AVE S 98168,11845,,,OCCIDENTAL,AVE,...,0,0,0,1949,0,0,0,0,3,0
514570,79600,465,1,1,11641 OCCIDENTAL AVE S 98168,11641,,,OCCIDENTAL,AVE,...,0,0,0,1941,0,0,0,0,4,0
514571,79700,174,1,1,10804 8TH AVE S 98168,10804,,,8TH,AVE,...,0,0,0,1950,0,0,0,0,3,0
514572,79800,62,1,1,512 S 116TH ST 98168,512,,S,116TH,ST,...,1,0,1,1954,0,0,0,0,4,0
514573,79800,145,1,1,11620 3RD AVE S 98168,11620,,,3RD,AVE,...,0,0,0,1939,0,0,0,0,5,0
514574,79800,262,1,1,11603 5TH AVE S 98168,11603,,,5TH,AVE,...,0,0,0,1945,0,0,0,0,4,0
514575,79800,271,1,1,11204 3RD AVE S 98168,11204,,,3RD,AVE,...,0,0,0,1950,0,0,0,0,4,0
514576,79800,286,1,1,11240 3RD AVE S 98168,11240,,,3RD,AVE,...,0,0,0,1949,0,0,0,0,4,3500
514577,79800,530,1,1,11223 3RD AVE S 98168,11223,,,3RD,AVE,...,1,0,1,1963,0,0,0,0,3,0

## EXTR_Parcel

In [12]:
df_parcel.head()

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,889250,80,,VELKOFF JOHN ADD,8,,5,22,8,SE,...,N,N,N,N,N,N,N,N,N,N
1,736360,275,,ROBERTS JAY COUNTRY CLUB ESTATES,8,2,4,26,34,SE,...,N,N,N,N,N,N,N,N,N,N
2,600350,635,,NAGLES 2ND ADD,6,28,4,25,32,NE,...,N,N,N,N,N,N,N,N,N,N
3,635260,760,,OLD MILL POINT,TRACT I,,6,25,18,SE,...,N,N,N,N,N,N,N,N,N,N
4,333250,15,,HILLMAN CITY DIV NO. 05,3-4,1,4,24,22,SE,...,N,N,N,N,N,N,N,N,N,N

In [13]:
df_parcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613483 entries, 0 to 613482
Data columns (total 81 columns):
Major                     613483 non-null int64
Minor                     613483 non-null int64
PropName                  601196 non-null object
PlatName                  519122 non-null object
PlatLot                   613483 non-null object
PlatBlock                 613483 non-null object
Range                     613483 non-null int64
Township                  613483 non-null int64
Section                   613483 non-null int64
QuarterSection            613483 non-null object
PropType                  613483 non-null object
Area                      613458 non-null float64
SubArea                   613458 non-null float64
SpecArea                  17287 non-null float64
SpecSubArea               17287 non-null float64
DistrictName              613483 non-null object
LevyCode                  613483 non-null int64
CurrentZoning             613482 non-null object
HBUAsIfVacant             613483 non-null int64
HBUAsImproved             613483 non-null int64
PresentUse                613483 non-null int64
SqFtLot                   613483 non-null int64
WaterSystem               613483 non-null int64
SewerSystem               613483 non-null int64
Access                    613483 non-null int64
Topography                613483 non-null int64
StreetSurface             613483 non-null int64
RestrictiveSzShape        613483 non-null int64
InadequateParking         613483 non-null int64
PcntUnusable              613483 non-null int64
Unbuildable               613483 non-null bool
MtRainier                 613483 non-null int64
Olympics                  613483 non-null int64
Cascades                  613483 non-null int64
Territorial               613483 non-null int64
SeattleSkyline            613483 non-null int64
PugetSound                613483 non-null int64
LakeWashington            613483 non-null int64
LakeSammamish             613483 non-null int64
SmallLakeRiverCreek       613483 non-null int64
OtherView                 613483 non-null int64
WfntLocation              613483 non-null int64
WfntFootage               613483 non-null int64
WfntBank                  613483 non-null int64
WfntPoorQuality           613483 non-null int64
WfntRestrictedAccess      613483 non-null int64
WfntAccessRights          613483 non-null object
WfntProximityInfluence    613483 non-null object
TidelandShoreland         613483 non-null int64
LotDepthFactor            613483 non-null int64
TrafficNoise              613483 non-null int64
AirportNoise              613483 non-null int64
PowerLines                613483 non-null object
OtherNuisances            613483 non-null object
NbrBldgSites              613483 non-null int64
Contamination             613483 non-null int64
DNRLease                  613483 non-null object
AdjacentGolfFairway       613483 non-null object
AdjacentGreenbelt         613483 non-null object
HistoricSite              613483 non-null int64
CurrentUseDesignation     613483 non-null int64
NativeGrowthProtEsmt      613483 non-null object
Easements                 613483 non-null object
OtherDesignation          613483 non-null object
DeedRestrictions          613483 non-null object
DevelopmentRightsPurch    613483 non-null object
CoalMineHazard            613483 non-null object
CriticalDrainage          613483 non-null object
ErosionHazard             613483 non-null object
LandfillBuffer            613483 non-null object
HundredYrFloodPlain       613483 non-null object
SeismicHazard             613483 non-null object
LandslideHazard           613483 non-null object
SteepSlopeHazard          613483 non-null object
Stream                    613483 non-null object
Wetland                   613483 non-null object
SpeciesOfConcern          613483 non-null object
SensitiveAreaTract        613483 non-null object
WaterProblems             613483 non-null object
TranspConcurrency         613483 non-null object
OtherProblems             613483 non-null object
dtypes: bool(1), float64(4), int64(41), object(35)
memory usage: 375.0+ MB

# Question: 
## Having a porch increases home sale price

Null hypothesis
H_0: Having a porch does not increase home sale price.

Alternative hypothesis
H_a: Having a porch does increase home sale price.

In [14]:
df_res_bldg_test = df_res_bldg[['Major', 'Minor', 'SqFtOpenPorch', 'SqFtEnclosedPorch']]
df_res_bldg_test_open = df_res_bldg_test[df_res_bldg_test['SqFtOpenPorch'] > 0] 
df_res_bldg_test_enclosed = df_res_bldg_test[df_res_bldg_test['SqFtEnclosedPorch'] > 0]

# create a new column for the total square footage of porch
df_res_bldg_test['Porch'] = df_res_bldg_test['SqFtOpenPorch'] + df_res_bldg_test['SqFtEnclosedPorch']

# check - display 10 random results where the sqare footage is > 0
df_res_bldg_test[df_res_bldg_test['Porch'] > 0].sample(10)

/Users/karenwarmbein/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         Major  Minor  SqFtOpenPorch  SqFtEnclosedPorch  Porch
70940    92205   9005            160                  0    160
324990  722850   2450            110                  0    110
452872  788360   3260             80                  0     80
453705  789380   5075            270                  0    270
301925  376050    576            290                  0    290
16999   115000    670             30                  0     30
192945  231680    100             40                  0     40
162499  170840    225             40                  0     40
437098  803990    135             40                  0     40
500174  334390   1020            220                  0    220

In [17]:
df_property_sale_model_test = df_property_sale_type[['Major', 'Minor', 'SalePrice']]
df_property_sale_model_test.sample(5)

          Major Minor  SalePrice
670993   262307  9016     725000
1268426  894641   340      90000
720364   556120   830      60000
1984644  122606  9049     212000
981010   022606  9044          0

In [31]:
df_test = pd.concat([df_property_sale_model_test, df_res_bldg_test], axis=1, join='inner')
df_test[df_test['Porch'] > 0].sample(10)

,Major,Minor,SalePrice,Major,Minor,SqFtOpenPorch,SqFtEnclosedPorch,Porch
354514,981560,80,164160,857090,47,0,40,40
433351,22409,9002,54100,882090,2015,110,0,110
188941,335850,1006,0,387671,80,80,0,80
231933,52407,9007,4995,363020,740,150,0,150
38360,22610,9092,15000,137730,125,80,60,140
259822,22610,9076,0,257240,180,110,0,110
236637,30140,750,0,363003,30,100,0,100
304878,252302,9095,0,535020,948,140,0,140
63155,212404,9273,940000,214980,8,250,0,250
362950,785201,500,0,944830,146,50,0,50

In [57]:
conditions = [
    (df_test['Porch'] > 0),
    (df_test['Porch'] == 0)]
choices = [1, 0]

df_test['Has_Porch'] = np.select(conditions, choices, default='null')


df_test.sample(10)

,Major,Minor,SalePrice,Major,Minor,SqFtOpenPorch,SqFtEnclosedPorch,Porch,Has_Porch
195992,804370,182,390000,293820,170,60,0,60,1
368932,52606,9031,0,982820,1440,0,0,0,0
276216,934410,380,800000,515320,661,340,0,340,1
469229,72506,9138,0,935910,380,110,0,110,1
331561,322920,90,25000,721268,100,0,0,0,0
25476,252405,9097,0,106600,30,0,0,0,0
244194,202576,100,335000,678820,910,60,0,60,1
263747,225450,2460,0,313410,148,220,0,220,1
443373,726120,195,0,681785,70,110,0,110,1
124556,201140,540,56000,155251,200,80,0,80,1

In [67]:
df_yes = df_test[df_test['Has_Porch'] == '1']
print(df_yes.info())
df_yes['SalePrice'].mean()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24742 entries, 22 to 514535
Data columns (total 9 columns):
Major                24742 non-null object
Minor                24742 non-null object
SalePrice            24742 non-null int64
Major                24742 non-null int64
Minor                24742 non-null int64
SqFtOpenPorch        24742 non-null int64
SqFtEnclosedPorch    24742 non-null int64
Porch                24742 non-null int64
Has_Porch            24742 non-null object
dtypes: int64(6), object(3)
memory usage: 1.9+ MB
None

992067.7315091747

In [66]:
df_no = df_test[df_test['Has_Porch'] == '0']
print(df_no.info())
df_no['SalePrice'].mean()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23497 entries, 11 to 514514
Data columns (total 9 columns):
Major                23497 non-null object
Minor                23497 non-null object
SalePrice            23497 non-null int64
Major                23497 non-null int64
Minor                23497 non-null int64
SqFtOpenPorch        23497 non-null int64
SqFtEnclosedPorch    23497 non-null int64
Porch                23497 non-null int64
Has_Porch            23497 non-null object
dtypes: int64(6), object(3)
memory usage: 1.8+ MB
None

935582.5093841767

In [ ]:
#since both sample sizes >= 30